---
layout: default
---
<div class="jumbotron" id="hero">
  <div class="container">
  	<img src="{{ site.baseurl }}/assets/img/arduinoday19.png" class="img-fluid">
    <h1 class="display-4">Unindo pessoas e projetos</h1>
    <p class="lead">Está chegando o Arduino Day 2019. Venha compartilhar ideias com a gente!</p>
    <a class="btn btn-info btn-lg" href="#" role="button">Faça sua inscrição</a>
  </div>
</div>

<div class="evento text-center bg-info text-light">
	<div class="row">
	  <div class="col-lg-4">
	  	<svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
	    <h3>O evento</h3>
	    <p>
	    	O evento é totalmente gratuito e aberto a toda comunidade de Cachoeiro e região. Algumas atividades requerem inscrição e possuem limite de vaga. Uma agenda detalhada da programação será divulgada online previamente. 
	    </p>
	  </div>
	  <div class="col-lg-4">
	  	<svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
	    <h3>Quando</h3>
	    <p>
	    	O evento deste ano acontecerá nos dias ... No sábado, as atividades são extensivas à comunidade geral.  
	    </p>
	  </div>
	  <div class="col-lg-4">
	  	<svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
	    <h3>Onde</h3>
	    <p>
	    	Todas as atividades serão realizadas no campus do Ifes em Cachoeiro de Itapemirim - ES. Fique atento à programação do evento para detalhamento do local de realização de cada atividade.  
	    </p>
	  </div>
  </div>
</div>
<div class="container marketing">
	<div class="text-center">
	  <h2>Organização</h2>
	</div>        
	<hr class="featurette-divider">
	<div class="row">
		{% for member in site.data.team %}
	  <div class="col-lg-4">
	    <img class="rounded-circle filter-member" src="{{ site.baseurl }}/assets/img/members/{{ member.image }}" alt="{{ member.name }}" width="200" height="200">
	    <h5>{{ member.name }}</h5>
	  </div>
		{% endfor %}
	</div>
	<hr class="featurette-divider">	
	<div id="faq">
		<div class="text-center">
		  <h2>FAQ</h2>
		  <p>Criamos o FAQ para te ajudar a esclarecer as principais dúvidas relacionadas ao evento.</p>
		</div>
		<div class="accordion" id="accordionExample">
			{% for faq in site.data.faq %}			
				<div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link text-secondary" type="button" data-toggle="collapse" data-target="#question-{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne">
			          {{ faq.question }}
			        </button>
			      </h5>
			    </div>

		    	<div id="question-{{ forloop.index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body">
			        {{ faq.answer }}
			      </div>
		    	</div>
	  	</div>
		  {% endfor %}
		</div>
	</div>
</div>