---
layout: default
lang: pt-br
title: Programação
description: Fique de olho na programação do evento, pois estará recheado de atividades bacanas.
permalink: /programacao/
---
<div class="container-fluid bg-info1 text-light py-5">
	<div class="container">
		<h1>Programação</h1>
		<p>Veja as informações das atividades</p>
	</div>
</div>
<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

		<p>
			Em breve...
		</p>

          {%- comment -%} 
		  <div class="main-timeline">
          		{% for schedule in site.data.schedule %}
				<div class="timeline">
					<span class="timeline-icon"></span>
					<span class="year">{{ schedule.horario }}</span>
					<div class="timeline-content">
						<h3 class="title">{{ schedule.titulo }}</h3>
						<p class="description">
						{{ schedule.descricao }}
						{% if schedule.link %}<a href="{{ schedule.link | prepend: site.baseurl }}">Saiba mais</a>{% endif %}
						</p>
					</div>
				</div>
				{% endfor %}
          </div> 
		  {%- endcomment -%}
		  
      </div>
		</div>
  </div>
</div>