<div class="py-5">
    <div class="text-center py-4">
        <h2 class="py-4 h2-text font-weight-bold">Apoio</h2>
        <hr class="hr-15-laranja">
    </div>
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-5">
                    <a href="https://www.ci.ifes.edu.br/" target="_blank">
                        <img class="rounded mx-auto d-block" height="80"
                            title="Instituto Federal do Espírito Santo Campus Cachoeiro de Itapemirim"
                            src="{{ site.baseurl }}/assets/img/logoifes.png" alt="Logo do Ifes">
                    </a>
                </div>
                <div class="col-md-6 py-5">
                    <a href="https://fdci.br/" target="_blank">
                        <img class="rounded mx-auto d-block" height="80"
                            title="Faculdade de Direito de Cachoeiro de Itapemirim (FDCI)"
                            src="{{ site.baseurl }}/assets/img/logofdci.png" alt="Logo da FDCI">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>