 <!-- FOOTER -->
<footer class="container-fluid py-5 rodape">
	<div class="text-center">
		<img src="{{ site.baseurl }}/assets/img/logoifes.png" alt="" class="img-thumbnail" width="140" height="140">
		<div style="margin: 1em;">
    	<div>{{ site.contact.address }}</div>
    	<div>{{ site.contact.phone }}</div>
    	<div>{{ site.contact.email }}</div>       	
      </div> 
		<div>		
  		<p>Desenvolvido por <b>{{ site.author }}</b>.</p>
		</div>
		<small>Arduino Day 2017-{{ site.time | date: '%Y' }}</small>
	</div>
</footer>