 <!-- FOOTER -->
<footer class="container-fluid rodape">
	<div class="text-center">
		<img src="{{ site.baseurl }}/assets/img/logoifes.png" alt="" class="img-thumbnail" width="140" height="140">
		<div style="margin: 1em;">
    	<div>Rodovia ES-482 (Cachoeiro-Alegre) - Fazenda Morro Grande, CEP 29311-970 - Cachoeiro de Itapemirim, ES - Brasil</div>
    	<div>(28) 3526-9033 | (28) 3526-9045</div>
    	<div>arduinoday.ci@gmail.com</div>       	
      </div> 
		<div>		
  		<p>Desenvolvido por <b>Labora</b>.</p>
		</div>
		<small>Arduino Day 2017-{{ site.time | date: '%Y' }}</small>
	</div>
</footer>