<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}">
        <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="Logo Arduino Day 2019" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}#local">Local</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/posts/">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/programacao/">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/atividades/">Atividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/inscricao/">Credenciamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/submissao/">Submissão de trabalhos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
